#name-con {
  display: flex;
  flex-direction: column;
  width: 133px;
  line-height: 30px;
}

#name {
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
}

#title-con {
  display: flex;
  flex-direction: column;
  line-height: 26px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.9px;
  line-height: 32px;
}

#des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 5px;
  line-height: 25px;
}

#dev {
  margin-left: 52px;
  line-height: 10px;
}

.slash-con {
  display: inline-block;
  width: auto;
  margin: 0;
}

.slash {
  display: block;
  height: 2px;
  width: 13px;
  background: #fff;
  margin: 4.5px auto;
}

.one {
  transform: translateY(7.5px) translateX(-1px) rotateZ(-69deg);
}

.two {
  transform: translateY(1.5px) translateX(4px) rotateZ(-69deg);
}

.one,
.two {
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  right: 0;
  width: 180px;
  height: 200px;
  left: calc(var(--pad) * 2);
  margin-top: 187px;

  transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 20px;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;

  transition: max-width 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  max-width: 0px;
  overflow: hidden;
}

#menu.active ul {
  max-width: 60px;
}

.bar-con {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin-left: 20px;
  margin: 0 auto;
}

.bar {
  display: block;
  height: 2px;
  width: 16px;
  background: #fff;
  margin: 4.5px auto;
}

#bar-col {
  display: inline-block;
  text-align: left;
  height: 18px;
  position: relative;
  margin-top: 7px;
}

.top {
  margin: 0 auto;
  transform: translateY(6px) rotateZ(47deg);
}

.bottom {
  -webkit-transform: translateY(-7px) rotateZ(-47deg);
  -moz-transform: translateY(-7px) rotateZ(-47deg);
  -ms-transform: translateY(-7px) rotateZ(-47deg);
  -o-transform: translateY(-7px) rotateZ(-47deg);
  transform: translateY(-7px) rotateZ(-47deg);
}

.middle {
  opacity: 0%;
}

.top,
.bottom {
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
